.dockerignore
Dockerfile
docker-compose.yml
**/bin/
**/obj/
**/node_modules/**/*
.vs
.vs-code
.git
.gitignore
/EnoLandingPageBackend/data
/EnoLandingPageBackend/appsettings.Development.json
/EnoLandingPageBackend/wwwroot
/EnoLandingPageBackend/bin
/EnoLandingPageBackend/obj
/EnoLandingPageCore/bin
/EnoLandingPageCore/obj
/EnoLandingPageFrontend/bin
/EnoLandingPageFrontend/obj
/data
/sessions