@page "/confirmed"
@using EnoLandingPageFrontend.Services
@using EnoLandingPageCore.Messages
@inject EnoLandingPageService DataService

<h1>Confirmed Teams</h1>

@if (teams != null)
{
<div>
    @foreach (var team in teams)
    {
        @if (team.CtftimeId is long ctftimeId)
        {
            <div><a href="https://ctftime.org/team/@(ctftimeId)">@team.Name</a></div>
        }
        else
        {
            <div>@team.Name</div>
        }
    }
</div>
}

@code {
    private List<ConfirmedTeamMessage>? teams;

    protected override async Task OnInitializedAsync()
    {
        teams = await DataService.GetConfirmed();
    }
}
