@page "/confirmed"
<h3>ConfirmedTeamsView</h3>
@using EnoLandingPageFrontend.Services
@using EnoLandingPageCore
@inject EnoLandingPageDataService DataService

@if (teams != null)
{
<div>
    @foreach (var team in teams)
    {
        @if (team.CtftimeId is long ctftimeId)
        {
            <div><a href="https://ctftime.org/team/1438">@team.Name</a></div>
        }
        else
        {
            <div>@team.Name</div>
        }
    }
</div>
}

@code {
    private List<LandingPageTeam>? teams;

    protected override async Task OnInitializedAsync()
    {
        teams = await DataService.GetConfirmed();
    }
}
