@page "/contact"
<div class="container p-3">
    <h1>Contact</h1>
    <hr />
    <div>
        <!--<h4>Email</h4>
        <p>bambi@@enoflag.de</p>-->

        <!--<h4>Twitter</h4>
        <p><a href="https://twitter.com/enoflag">@@ENOFLAG</a></p>-->

        <h2>Communication Channels</h2>
        <!--<h4>IRC</h4>
        <p><a href="https://web.libera.chat/#enowars">#enowars on libera.chat</a></p>-->

        <!--<h4>Matrix</h4>
        bambictf:matrix.tu-berlin.de-->

        <h4>Discord</h4>
        <p><a href="https://discord.gg/62TqF38x3M">Invite-Link</a></p>
    </div>
</div>

@code {

}
