@page "/contact"
<div class="container p-3">
    <h1>Contact</h1>
    <hr />
    <div>
        <h3>Email</h3>
        <p>bambi@@enoflag.de</p>

        <h3>Twitter</h3>
        <p><a href="https://twitter.com/enoflag">@@ENOFLAG</a></p>

        <h2>Bridged Communication Channels</h2>
        <h3>IRC</h3>
        <p><a href="https://web.libera.chat/#bambictf">#bambictf on libera.chat</a></p>

        <h3>Matrix</h3>
        bambictf6:matrix.tu-berlin.de

        <h3>Discord</h3>
        <p><a href="https://discord.gg/2ZnmS4NYDn">Discord</a></p>
    </div>
</div>

@code {

}
