@page "/contact"
<div class="container p-3">
    <h1>Contact</h1>
    <hr />
    <div>
        <h3>Email</h3>
        <p>Our mailing list is not ready yet :(</p>

        <h3>Twitter</h3>
        <p><a href="https://twitter.com/enoflag">@@ENOFLAG</a></p>
    </div>
</div>

@code {

}
