@page "/faq"

<h3>Frequently Asked Questions</h3>

<h4>How to contact the organizers?</h4>
<p>You can send an email to <a href="mailto:mail@enowars.com">mail@enowars.com</a> or find us in <a target="_blank" href="https://webchat.freenode.net/">#ENOWARS</a> on Freenode, or try <a href="https://twitter.com/enoflag" target="_blank"> Twitter</a>!
    We won't give you any information or hints on the challenges, though ;-)</p>

<h4>Who organizes this CTF?</h4>
<p>Team <a href="https://enoflag.de">ENOFLAG</a> and students from <a href="https://www.isti.tu-berlin.de/security_in_telecommunications/menue/overview/">SecT</a> at TU Berlin.</p>

<h4>What is an Attack-Defense CTF?</h4>
<p>See <a href="information.html">Information</a>.</p>

<h4>Do I need to host my own vulnbox?</h4>
<p>NO! This year we will provide vulnboxes for all teams!</p>
<p>You will however still have the option to host the vulnbox yourself.</p>

<h4>How is the VPN realized?</h4>
<p>After you have access to your vulnbox, you can grab the config at /root/client.conf.</p>
<p>If you intend to self-host, you also need to grab the wg config at /etc/wireguard/game.conf.</p>

<h4>How do I get access to my vulnbox?</h4>
<p>When logged in, you can create your vulnbox <a href="teamvm.html">here</a> after the CTF has started.
    Your (public) ip and initial root password will be displayed after creating the vulnbox.</p>

<h4>What is the FLAG format?</h4>
<p>The flag format is 🏳️‍🌈\X{4} Enjoy ;) (Explanation see <a href="https://regex101.com/r/dTOtW3/1">here</a>)</p>

<h4>Where do I find the scoreboard?</h4>
<p><a href="http://scoreboard.enowars.com" target="_blank">scoreboard.enowars.com</a></p>


@code {

}
