@page "/"

<div class="bg">
    <div>
        <h1>BambiCTF</h1>
        <h2>Attack/Defense CTF for Beginners</h2>
    </div>
</div>

<!-- TODO thank the author somehow? https://pixabay.com/photos/deers-animal-wild-wildlife-mammal-88991/ -->
<div class="container p-3">
    <h1>News</h1>
    <hr />
    <h3>Check-in</h3>
    <p>Don't forget to check in before 0900 UTC!</p>
    <h3>Network details</h3>
    <p>We have added details regarding the <a href="/network">network layout</a>.</p>
    <h3>IRC and Discord channels</h3>
    <p>We have set up bridged <a href="/contact">IRC and Discord channels</a>, feel free to drop by! We will be announcing more details there and on this website in the next days.</p>
    <h3>Bambi CTF 5</h3>
    <p>As a part of our module <a href="https://www.isti.tu-berlin.de/security_in_telecommunications/menue/teaching/modules/">"International Information Security Contest"</a>, ENOFLAG will host another Bambi CTF event on the 17th of April (10:00 UTC - 16:00 UTC). Like every year we invite beginner teams to participate, so you can practice playing Attack/Defense CTFs against opponents with a similar skill level. If you are interested, check out our <a href="/rules">rules</a> and <a href="/login">sign up</a>!</p>
</div>
