@page "/"

<div class="bg">
    <div>
        <h1>BambiCTF</h1>
        <h2>Attack/Defense CTF for Beginners</h2>
    </div>
</div>

<!-- TODO thank the author somehow? https://pixabay.com/photos/deers-animal-wild-wildlife-mammal-88991/ -->
<div class="container p-3">
    <h1>News</h1>
    <hr />
    <h3>BambiCTF 4?</h3>
    <p>We don't have a date and mailing list yet. Stay tuned!</p>
</div>
