@page "/"

<div class="bg">
    <canvas id="canvas"></canvas>
    <div>
        <h1>ENOWARS 6</h1>
        <h2>Attack/Defense CTF by ENOFLAG / TU Berlin</h2>
    </div>
</div>

<!-- TODO thank the author somehow? https://pixabay.com/photos/deers-animal-wild-wildlife-mammal-88991/ -->
<div class="container p-3">
    <h1>News</h1>
    <hr />
    <h3>Updates (11.07.2022)</h3>
    <p>We have updated our contact page. We have changed our email address, and may drop Matrix support for this year.</p>

    <h3>ENOWARS 6</h3>
    <p>ENOFLAG will host another ENOWARS CTF on the 16th of July. Registration is open, don't hesitate to sign up!</p>
    <!--<p>ENOFLAG will host another Bambi CTF event on the 30th of October! Like every year we invite beginner teams to participate, so you can practice playing Attack/Defense CTFs against opponents with a similar skill level. If you are interested, check out our <a href="/setup">setup page</a> and <a href="/login">sign up</a>!</p>-->
    <p>This year's event is sponsored by IABG and Hetzner.</p>
    <center><img src="/images/sponsors/iabg-logo.png" width="30%" /></center>
    <br />
    <center><img src="/images/sponsors/hetzner-logo.svg" width="30%" /></center>
</div>
