@page "/"
<head>
    <link rel="stylesheet" href="css/index.css">
</head>
<div class="landing-page">
    <center class="title-bg">
        <h1 class="title">ENOWARS 7</h1>
        <h2 class="sub-title">Attack/Defense CTF by ENOFLAG / TU Berlin</h2>
    </center>
    <div class="container p-3">
        <center>
            <h1 class="heading">Theme</h1>
        </center>
        <div class="block">
            <h5 class="theme">Get ready to relive the days of dial-up internet, Tamagotchis and baggy pants! Our nostalgic battlefield will transport you to an era when hacking meant playing Snake on your Nokia 3310. Defend your virtual fortress while battling cyber adversaries armed with 56k modems and AOL trial CDs. So grab your Walkman, dust off your POGs and get ready to CTF like it's 1999!</h5>
        </div>
        <center>
            <h1 class="heading">News</h1>
        </center>
        <div class="block">
            <h3>ENOWARS 7</h3>
            <p>ENOFLAG will host another ENOWARS CTF on the 22nd of July. Registration is open, don't hesitate to sign up!</p>
            <p>This year's event is sponsored by IABG.</p>
        </div>
        <center><img src="/images/sponsors/iabg-logo.png" width="30%"></center>
        <br>
    </div>
</div>