@page "/login"

@inject NavigationManager NavigationManager
@using EnoLandingPageFrontend
<div class="container p-3">
    <h1 class="heading">Login</h1>

    <p>Login via <a href="https://ctftime.org">CTFTime.org</a></p>

    <button @onclick="OAuthChallenge">Log In</button>
</div>
@code {
    protected void OAuthChallenge(MouseEventArgs e)
    {
        Console.WriteLine($"LoginView OAuthChallenge {NavigationManager.Uri}");
        string url = "/api/account/login";
        if (QueryHelpers.ParseQuery(NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query).TryGetValue("returnUrl", out var returnUrl))
        {
            url = QueryHelpers.AddQueryString(url, "redirectUri", returnUrl);
        }
        else
        {
            url = QueryHelpers.AddQueryString(url, "redirectUri", "/");
        }

        Console.WriteLine($"LoginView OAuthChallenge navigating to {url}");
        NavigationManager.NavigateTo(url, true);
    }
}
