@page "/login"

@inject NavigationManager NavigationManager
@using EnoLandingPageFrontend

<h1>Login</h1>

<p>Login via <a href="https://ctftime.org">CTFTime.org</a></p>

<button @onclick="OAuthChallenge">Log In</button>

@code {
    protected void OAuthChallenge(MouseEventArgs e)
    {
        var uri = new Uri(NavigationManager.Uri)
            .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
        var challengeUri = "/api/account/login?redirectUri=" + System.Net.WebUtility.UrlEncode(uri);
        NavigationManager.NavigateTo(challengeUri, true);
    }
}

