@page "/network"
<div class="container p-3">
    <h1>Network</h1>
    <hr />
    <div>
        <h3>Summary</h3>
        <ul>
            <li>Game Network: <code>10.0.0.0/8</code></li>
            <li>Team Network: <code>10.0.{TeamId//256}.{TeamId%256}/32</code></li>
            <li>Game Router: <code>10.0.1.1</code></li>
            <li>Flag Submission: <code>10.0.13.13:1337</code></li>
        </ul>
        <img src="/images/nw-e4.png" />

        <h3>OpenVPN Access for Players</h3>
        <p>Since this is a beginner CTF, we provision your vulnbox with a preconfigured OpenVPN server.
        To get seamless access to the game network, install the OpenVPN client for your operating system, and download the client configuration in <code>/root/client.conf</code> from your vulnbox.</p>
    </div>
</div>

@code {

}
