@page "/registrationclosed"
<div class="container p-3">
    <h1>Registration Prohibited</h1>
    <hr />
    <div>
        <p>Sorry, you're not allowed to participate.</p>
    </div>
</div>

@code {

}
