@page "/registrationclosed"
<div class="container p-3">
    <h1>Registration Closed</h1>
    <hr />
    <div>
        <p>Sorry, the registration period has ended.</p>
    </div>
</div>

@code {

}
