.scoreboard {
    width: 100%;
    table-layout: fixed;
}

    .scoreboard th, td {
        border: 1px solid rgb(198, 202, 209);
        border-collapse: collapse;
    }

    .scoreboard .team-rank {
        border: none;
        padding: 2px;
    }

    .scoreboard .team-name {
        overflow: hidden;
        font-weight: bold;
        border: none;
        padding: 2px;
    }

    .scoreboard .team-score {
        border: none;
        padding: 2px;
    }

.service-OK {
    background-color: rgb(125, 252, 116);
}

.service-INTERNAL_ERROR {
    background-color: white;
}

.service-RECOVERING {
    background-color: rgb(81, 145, 255);
}

.service-MUMBLE {
    background-color: rgb(255, 193, 0);
}

.service-OFFLINE {
    background-color: rgb(255, 91, 91);
}

.service-INACTIVE {
    background-color: gray;
}
