.scoreboard {
    width: 100%;
    table-layout: fixed;
}

    .scoreboard .bordered {
        border: 1px solid rgb(198, 202, 209);
        border-collapse: collapse;
    }

    .scoreboard .rightaligned {
        text-align: right;
    }

    .scoreboard .team-rank {
        border: none;
        padding: 2px;
    }

    .scoreboard .team-name {
        overflow: hidden;
        font-weight: bold;
        border: none;
        padding: 2px;
    }

    .scoreboard .team-score {
        border: none;
        padding: 2px;
    }

    .scoreboard .service-stats {
        display: flex;
        justify-content: space-between;
    }

.scoreboard-icon {
    width: 2em;
    text-align: center;
}

.service-OK {
    background-color: rgb(125, 252, 116);
}

.service-INTERNAL_ERROR {
    background-color: white;
}

.service-RECOVERING {
    background-color: rgb(81, 145, 255);
}

.service-MUMBLE {
    background-color: rgb(255, 193, 0);
}

.service-OFFLINE {
    background-color: rgb(255, 91, 91);
}

.service-INACTIVE {
    background-color: gray;
}

.service-points-absolute {
    width: 10em;
    text-align: right;
}

.service-points-diff {
    width: 6em;
    text-align: right;
}