@page "/setup"

@using EnoLandingPageFrontend.Services
@using EnoLandingPageCore.Messages
@using System.Globalization
@inject LandingPageDataApiService DataService

<div class="container p-3">
    <h1>Setup</h1>
    <hr />
    <div>
        <h3>Summary</h3>
        <ul>
            <li style="color: red;">
                Some services may require additional information to exploit them, so don't forget to have a look at the corresponding <a href="/scoreboard/attack.json">attack info</a>.
            </li>
            <li>
                Vulnboxes and VPN servers are provided by us, you don't have to provide or take care of anything.
            </li>
            <li>
                The game will start on @ctfInfo?.StartTime.ToString() UTC.
            </li>
            <li>
                The network between teams will open after 1 hour.
            </li>
            <!-- TODO
            <li>
                The game should finish on @ctfInfo?.EndTime.ToString() UTC.
            </li>
            -->
            <li>
                You must register before @ctfInfo?.StartTime.AddHours(-ctfInfo.RegistrationCloseOffset).ToString() UTC.
            </li>
            <li>
                You must <a href="/profile">check in</a> between @ctfInfo?.StartTime.AddHours(-ctfInfo.CheckInBeginOffset).ToString() UTC and @ctfInfo?.StartTime.AddHours(-ctfInfo.CheckInEndOffset).ToString() UTC.
            </li>
            <li>
                You must <a href="/profile">start your vulnbox</a> once the game starts.
            </li>
            <li>
                A round lasts 60 seconds, flags are valid for several rounds.
            </li>
            <li>
                Flag format: <code>ENO[A-Za-z0-9+\/=]{48}</code>
            </li>
            <li>
                Flag submission: <code>nc 10.0.13.37 1337</code>
            </li>
            <li>
                You will find an <a href="https://github.com/arkime/arkime" target="_blank">Arkime</a> installation on your vulnbox. Arkime is a traffic analysis tool, not a vulnerable service.
            </li>
        </ul>

        <h3>Setup Details</h3>
        <p>
            We will be providing hosted vulnboxes for all teams. You can start your vulnbox through the registration page after the start of the CTF.
            Note that you must check in before the start of the CTF, otherwise you will not be able to start your vulnbox!
        </p>
        <p>
            You can download an OpenVPN configuration file which allows you to access your vulnbox as well as the rest of the competition network.
            You will be able to access your vulnbox immediately after the start, whereas the rest of the competition network will only be reachable after the network has opened.
        </p>
        <p>
            The vulnbox has the IP address 10.1.teamID.1, your team network will be assigned IP addresses from the IP range 10.1.teamID.130 to 10.1.teamID.254.
            While we are blocking direct access to your team VPN from other teams, your device will be reachable from the vulnbox and thus might be targetable by teams who get remote code execution on your vulnbox.
            Please take measures to protect your device used to access the network, e.g. by setting up a firewall!
        </p>
        <center><img src="/images/network.png" /></center>
        <p>
            For security reasons, the access to Arkime/Moloch is blocked over the network and it is only accessible from localhost.
            You can use SSH port forwarding to access your Arkime/Moloch by running <code>ssh -L 8005:localhost:8005 root@@</code>.
            Then you will be able to access it on your local machine by opening http://localhost:8005 and logging in with username and password moloch.
        </p>

        <h3>Attack Info</h3>
        <p>
            <a href="/scoreboard/attack.json">This endpoint</a> delivers a JSON that is updated at the start of every round and has the following format:
            <code style="display:block; white-space:pre-wrap">
                @sampleAttackInfo
            </code>
            The <code>availableTeams</code> field contains a list of team addresses that were at least partially up in the previous round.
            The <code>services</code> field will, for some services, provide you with additional information that may be helpful or necessary to exploit a given service.
            This is typically something like the username of the account containing the flag, but the exact format depends on the service.
            These are grouped by service, team address, and type of flag.
        </p>

        <h3>Opponent IP List</h3>
        <p>
            For the services that do not have attack infos available, you can get a list of IP addresses <a href="/api/data/ips">here</a>.
        </p>

        <h3>Scoring</h3>
        <pre>
SLA = 100.0
ATTACK = 400.0
DEF = -50.0

servicesWeightFactor = 0.0
for service in services:
    servicesWeightFactor += service.weightFactor

def sla(service, team) -> float:
    sla = 0.0
    for state in team.states:
        if state == OK:
            service_sla += SLA
                * service.weightFactor / servicesWeightFactor
        if state == RECOVERING:
            service_sla += 0.5 * SLA
                * service.weightFactor / servicesWeightFactor
    return sla

def attack(service, team) -> float:
    attack = 0.0
    for captured_flag in captured_flags(service, team):
        attack += ATTACK
            * service.weightFactor / servicesWeightFactor
            / service.flagsPerRound
            / total_captures_of(captured_flag)
    return attack

def def(service, team) -> float:
    def = 0.0
    for flag in own_flags(service, team):
        if flag.lost:
            def += DEF
                * service.weightFactor / servicesWeightFactor
                / service.flagsPerRound
    return def
</pre>

        <h3>Social Conduct</h3>
        <p>TL;DR: Be good! It's a game. Attack the services, not the players. Be sure that we can contact you.</p>
        <p>The goal of this CTF is to allow people to practice their skills and have fun. We ask you to avoid spoiling other's fun unnecessarily.</p>
        <p>We want the competition to be a pleasant experience for all participants, regardless of their gender, sexual orientation, race, religion, skill level, personal background or any other criteria. Therefore, we do not tolerate harassment in any form.</p>
        <p>This especially applies to our official communication channels, i.e. Discord and Twitter. Misbehavior may lead to a ban from these communication channels and ultimately, the same consequences as for any other rule violation (see below). We ask everyone to speak English on the Discord server, so that all participants know what's going on.</p>
        <p>Teams are prohibited to collaborate with other teams (e.g. share flags, information on vulnerabilities and exploits, or similar). There may be some services where collaboration is allowed, this will be stated explicitly. Every individual participant must only be member of one team. </p>
        <p>The Vulnboxes of other teams are the sole target for exploitation, attacks against competition infrastructure or any other portion of a team's network (inside or outside of the VPN) are forbidden.</p>
        <p>Causing unnecessarily high loads for CPU, traffic, memory, I/O, etc. ("denial of service") on our infrastructure, other teams (including Vulnboxes) or any other party is also strictly prohibited. Breaking a service of another team through sheer amount of requests is forbidden, breaking it through a vulnerability is OK as long as it does not lead to resource spikes. But remember that preventing yourself from stealing their flags won't do you any good.</p>
        <p>Despite these policies, all participants are responsible for the security of their own hard- and software. We will do our best to enforce the rules, but cannot give any guarantees for other participant's behavior. We are not liable for any potential damage to your equipment.</p>
        <p>Violation of the rules or any other hostile behavior may lead to deduction of points, temporary or permanent exclusion from the competition or any other measure deemed appropriate by the Organizing Team.</p>
        <p>We suggest every team to have at least one representative on our Discord server with a nick starting with the team name. In case of problems this will be our first point of contact, because email delivery can be slow. If we want to stop you from doing something and are not able to reach you as fast as the issue requires, we might temporarily kill your VPN connection in order to get your attention.</p>
        <p>Rules are borrowed from <a href="https://2022.faustctf.net/information/rules/">Faust CTF</a>.</p>
    </div>
</div>

@code {
            private CtfInfoMessage? ctfInfo;
            private string sampleAttackInfo = @"{
    ""availableTeams"": [
        ""10.1.52.1""
    ],
    ""services"": {
        ""service_1"": {
            ""10.1.52.1"": {
                ""7"": [
                    [ ""user73"" ],
                    [ ""user5"" ]
                ],
                ""8"": [
                    [ ""user96"" ],
                    [ ""user314"" ]
                ]
            }
        }
    }
}";

    protected override async Task OnInitializedAsync()
    {
        ctfInfo = await DataService.GetCtfInfo();
    }
}
