
.teams-list-container {
    display: flex;
    align-items: center;
}
/*
    .teams-list-container:hover {
        background-color: #AA998e;
    }
*/
.team-list-item-logo-container {
    min-width: 64px;
    min-height: 64px;
}

.team-list-item-logo {
    max-width: 64px;
    max-height: 64px;
}

.team-list-item-name-container {
    padding: 16px;
    overflow: hidden;
    width: 500px;
}

.team-list-item-countryflag {
    max-width: 32px;
    max-height: 32px;
}
