<!-- Navigation -->
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'push'" [position]="'end'">
    <nav id="pb-nav-mobile">
      <mat-list>
        <mat-list-item>
          <button
            mat-menu-item
            [routerLink]="[routes.scoreboard]"
            routerLinkActive="mat-elevation-z4"
            (click)="sidenav.close()"
          >
            <mat-icon>score</mat-icon>
            Scoreboard
          </button>
        </mat-list-item>
        <mat-list-item>
          <button
            mat-menu-item
            [routerLink]="[routes.information]"
            routerLinkActive="mat-elevation-z4"
            (click)="sidenav.close()"
          >
            <mat-icon>gavel</mat-icon>
            Information
          </button>
        </mat-list-item>
        <mat-list-item>
          <button
            mat-menu-item
            [routerLink]="[routes.teams]"
            routerLinkActive="mat-elevation-z4"
            (click)="sidenav.close()"
          >
            <mat-icon>groups</mat-icon>
            Teams
          </button>
        </mat-list-item>
        <mat-list-item>
          <button
            mat-menu-item
            [routerLink]="[routes.contact]"
            routerLinkActive="mat-elevation-z4"
            (click)="sidenav.close()"
          >
            <mat-icon>contact_support</mat-icon>
            Contact
          </button>
        </mat-list-item>
        <mat-list-item>
          <a
            mat-menu-item
            href="https://github.com/enowars/docs"
            target="_blank"
            (click)="sidenav.close()"
          >
            <mat-icon>open_in_new</mat-icon>
            Documentation
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <ng-container *ngIf="!(authenticated$ | async)">
            <a
              mat-menu-item
              href="/api/account/login?redirectUri=http://localhost:5000/settings"
              (click)="sidenav.close()"
            >
              <mat-icon>login</mat-icon>
              Login
            </a>
          </ng-container>
          <ng-container *ngIf="authenticated$ | async">
            <button
              mat-menu-item
              [routerLink]="[routes.profile]"
              routerLinkActive="mat-elevation-z4"
              (click)="sidenav.close()"
            >
              <!-- [matMenuTriggerFor]="personalmenu" -->
              <mat-icon>group</mat-icon>
              <ng-container *ngIf="info$ | async as info">
                {{ info.teamName || "My Team" }}
              </ng-container>
            </button>
          </ng-container>
        </mat-list-item>
      </mat-list>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="navigation mat-elevation-z5">
      <nav>
        <mat-toolbar>
          <mat-toolbar-row class="mat-elevation-z6">
            <div class="left app-title">
              <button mat-icon-button (click)="toggleTheme()">
                <mat-icon>{{ getThemeIcon() }}</mat-icon>
              </button>
              <button mat-button [routerLink]="['/']">
                <span class="mat-display-1" id="title">
                  <ng-container *ngIf="ctfInfo$ | async as ctfInfo">{{
                    ctfInfo.title
                  }}</ng-container>
                  <ng-container *ngIf="!(ctfInfo$ | async)"
                    >ENOWARS</ng-container
                  >
                </span>
              </button>
            </div>

            <div class="pb-spacer"></div>
            <div class="pb-center-element-orthogonal pb-hide-below-med">
              <a
                mat-button
                href="https://github.com/enowars/docs"
                target="_blank"
                >Documentation
                <mat-icon inline="true">open_in_new</mat-icon>
              </a>
              <button
                mat-button
                [routerLink]="[routes.scoreboard]"
                routerLinkActive="mat-stroked-button"
                *ngIf="ctfInProgress$ | async"
              >
                Scoreboard
              </button>
              <button
                mat-button
                [routerLink]="[routes.teams]"
                routerLinkActive="mat-stroked-button"
                *ngIf="!(ctfInProgress$ | async)"
              >
                Teams
              </button>
              <button
                mat-button
                [routerLink]="[routes.information]"
                routerLinkActive="mat-stroked-button"
              >
                Information
              </button>
              <button
                mat-button
                [routerLink]="[routes.contact]"
                routerLinkActive="mat-stroked-button"
              >
                Contact
              </button>
              <ng-container *ngIf="!(authenticated$ | async) && !staticHosting">
                <a
                  mat-icon-button
                  href="/api/account/login?redirectUri=http://localhost:5000/settings"
                >
                  <mat-icon>login</mat-icon>
                </a>
              </ng-container>
              <ng-container *ngIf="(authenticated$ | async) && !staticHosting">
                <button
                  mat-button
                  [routerLink]="[routes.profile]"
                  routerLinkActive="mat-stroked-button"
                >
                  <!-- [matMenuTriggerFor]="personalmenu" -->
                  <mat-icon inline="true">group</mat-icon>
                  <ng-container *ngIf="info$ | async as info">
                    {{ info.teamName || "My Team" }}
                  </ng-container>
                </button>
              </ng-container>
            </div>
            <div class="pb-hide-on-med-and-up">
              <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
          </mat-toolbar-row>
          <mat-toolbar-row class="banner" *ngIf="ctfInfo$ | async as ctfInfo">
            <ng-container *ngIf="ctfRegistrationOpen$ | async">
              CTF Starting in&nbsp;
              <ng-container *ngTemplateOutlet="countdown"></ng-container>&nbsp;
              Register Now!
            </ng-container>
            <ng-container *ngIf="ctfCheckinOpen$ | async">
              CTF Starting in&nbsp;
              <ng-container *ngTemplateOutlet="countdown"></ng-container>
              .&nbsp; Check in now!
            </ng-container>
            <ng-container
              *ngIf="
                !(ctfInProgress$ | async) &&
                !(ctfCheckinOpen$ | async) &&
                !(ctfRegistrationOpen$ | async)
              "
            >
              CTF starts in&nbsp;
              <ng-container *ngTemplateOutlet="countdown"></ng-container>
            </ng-container>
            <ng-container *ngIf="ctfInProgress$ | async">
              CTF ends in&nbsp;
              <ng-container *ngTemplateOutlet="countdown"></ng-container>
            </ng-container>
          </mat-toolbar-row>
        </mat-toolbar>
      </nav>
    </div>

    <ng-content>
      <!-- Here goes the content -->
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #countdown>
  <countdown
    [config]="countDownConfig"
    (event)="countdownend($event)"
  ></countdown>
</ng-template>
