<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">BambiCTF</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavBarCollapse navbar-collapse" @onclick="ToggleNavMenu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="adforbeginners">
                    A/D CTF for Beginners
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="network">
                    Network
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="rules">
                    Rules
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="confirmed">
                    Confirmed Teams
                </NavLink>
            </li>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="profile">
                            Profile
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="login">
                            Login
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string NavBarCollapse => collapseNavMenu ? "collapse" : string.Empty;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
