<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">ENOWARS 9</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavBarCollapse navbar-collapse" @onclick="ToggleNavMenu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="howto">
                    HowTo A/D CTF
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="scoreboard">
                    Scoreboard
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="setup">
                    Setup
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="contact">
                    Contact
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="teams">
                    Teams
                </NavLink>
            </li>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="profile">
                            Profile
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="login">
                            Login
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string NavBarCollapse => collapseNavMenu ? "collapse" : string.Empty;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
