<div id="scoreboard-title">
  <div class="chevrons">
    <button mat-icon-button [disabled]="round === 0">
      <mat-icon (click)="gotoFirstRound()">first_page</mat-icon>
    </button>
    <button mat-icon-button [disabled]="round === 0">
      <mat-icon (click)="gotoPreviousRound()">chevron_left</mat-icon>
    </button>
  </div>
  <div class="middle">
    <h2>Round {{ round }}</h2>
    <div *ngIf="isCurrentRound">
      (Next round in <countdown #cd [config]="countDownConfig"></countdown>)
    </div>
  </div>
  <div class="chevrons">
    <button mat-icon-button [disabled]="isCurrentRound">
      <mat-icon (click)="gotoNextRound()">chevron_right</mat-icon>
    </button>
    <button mat-icon-button [disabled]="isCurrentRound">
      <mat-icon (click)="gotoCurrentRound()">last_page</mat-icon>
    </button>
  </div>
</div>

<div class="scoreboard-table">
  <ng-container *ngIf="dataSource != null && dataSource.data.length > 0">
    <table mat-table [dataSource]="dataSource" [trackBy]="trackById">
      <!-- matSort
      matSortDirection="asc"
      matSortActive="teamName" -->

      <ng-container matColumnDef="teamId" sticky>
        <th mat-header-cell *matHeaderCellDef class="team-cell-th">Team</th>
        <td mat-cell *matCellDef="let row" class="team-cell-td">
          <div class="team-cell">
            <div class="teamId">
              {{ row.team.teamId }}
            </div>
            <div>
              <app-team-logo [logoUrl]="row.team.logoUrl"></app-team-logo>
            </div>
            <div class="texts">
              <div class="team-name">
                {{ row.team.teamName }} <br>
                (10.0.0.{{ row.team.teamId }})
              </div>
              <app-country-flag
                *ngIf="row.team.countryCode"
                [isoCountryCode]="row.team.countryCode"
              ></app-country-flag>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container
        *ngFor="let service of services" 
        [matColumnDef]="'' + service.serviceId!"
      >
        <th mat-header-cell *matHeaderCellDef>
          <div>
            {{ service.serviceName }}
            <div>
              <!-- TODO: Better data stucture??? -->
              Flagstores: {{ service.flagVariants }}
            </div>
          </div>

        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="service-cell {{
            element[service.serviceId!].serviceStatus
          }}"
          [matTooltip]="element[service.serviceId!].serviceStatus"
          (click)="openInfo(element, service)"
        >

          <!-- TODO: Make more performant by using a custom whitespace padded string instead of html elements -->
          <div class="sla">
            <div class="div1">⚔</div>
            <div class="div2">
              {{
                element[service.serviceId!].serviceLevelAgreementScore.toFixed(0)
              }}
            </div>
            <div class="div3">
              (
              {{ +0 }}
              )
            </div>
            <div class="div4">🛡</div>
            <div class="div5">
              {{ element[service.serviceId!].attackScore.toFixed(0) }}
            </div>
            <div class="div6">
              (
              {{ -0 }}
              )
            </div>
            <div class="div7">⛨</div>
            <div class="div8">
              {{ element[service.serviceId!].defenseScore.toFixed(0) }}
            </div>
            <div class="div9">
              (
              {{ +0 }}
              )
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-container>
</div>
