<div id="scoreboard-title">
  <div class="chevrons">
    <button mat-icon-button [disabled]="round === 0">
      <mat-icon (click)="gotoFirstRound()">first_page</mat-icon>
    </button>
    <button mat-icon-button [disabled]="round === 0">
      <mat-icon (click)="gotoPreviousRound()">chevron_left</mat-icon>
    </button>
  </div>
  <div class="middle">
    <h2>Round {{ round }}</h2>
    <div *ngIf="isCurrentRound">
      (Next round in <countdown #cd [config]="countDownConfig"></countdown>)
    </div>
  </div>
  <div class="chevrons">
    <button mat-icon-button [disabled]="isCurrentRound">
      <mat-icon (click)="gotoNextRound()">chevron_right</mat-icon>
    </button>
    <button mat-icon-button [disabled]="isCurrentRound">
      <mat-icon (click)="gotoCurrentRound()">last_page</mat-icon>
    </button>
  </div>
</div>

<mat-progress-bar
  mode="indeterminate"
  class="loading-progress-bar"
  [class]="isLoading ? 'isLoading' : ''"
></mat-progress-bar>

<div style="flex: 1 1 100%; display: flex; min-height: 0px; height: 100%">
  <pbl-ngrid
    class="pbl-ngrid-cell-ellipsis pbl-ngrid-header-cell-ellipsis"
    style="height: 100%; width: 100%; max-width: 100%"
    [dataSource]="ds"
    [columns]="columns"
    vScrollFixed
    maxBufferPx="200"
    minBufferPx="50"
    showHeader
    columnReorder
    blockUi
    matSort
    cellTooltip
  >
    <div *pblNgridBlockUiDef class="pbl-ngrid-ui-block">
      Loading
      <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    </div>

    <div
      *pblNgridHeaderCellTypeDef="'service'; col as col"
      class="flagstore-cell"
    >
      Flagstores:
      <div
        *ngFor="let flagstore of col.data.flagstores"
        [matTooltip]="
          flagstore.firstBlood
            ? 'Expoited in round ' +
              flagstore.firstBlood.roundId +
              '(at ' +
              (flagstore.firstBlood.roundId | date: 'longTime') +
              ')'
            : ''
        "
      >
        <i
          class="flagstore-icon fas fa-tint"
          [class]="flagstore.firstBlood ? 'exploited' : ''"
        ></i
        >&nbsp;
        {{
          flagstore.firstBlood ? flagstore.firstBlood.teamName : "unexploited"
        }}
        <!-- {{ flagstore.firstBlood | json }} -->
      </div>
    </div>

    <div *pblNgridNoDataRef class="no-data">
      <span>Seems like no round could be loaded.</span>
    </div>

    <div
      *pblNgridCellDef="'team.rank'; value as team"
      class="team-cell"
      [class]="team.highlightclass"
    >
      {{ team.rank }}
    </div>

    <div
      *pblNgridCellDef="'team'; value as team"
      class="team-cell team-cell-middle"
      [class]="team.highlightclass"
    >
      <img
        *ngIf="team.logoUrl"
        class="team-logo"
        [src]="team.logoUrl"
        referrerpolicy="no-referrer"
      />
      <div class="texts">
        <div class="team-name">
          {{ team.teamName }} <br />
          (10.1.{{ team.teamId }}.1)
        </div>
        <app-country-flag
          *ngIf="team.countryCode"
          [isoCountryCode]="team.countryCode"
        ></app-country-flag>
      </div>
      <!-- <div class="score">{{ team.totalScore.toFixed(0) }} Points</div> -->
    </div>

    <div
      *pblNgridCellDef="'team.totalScore'; value as team"
      class="team-cell"
      [class]="team.highlightclass"
    >
      <!--ngridCellClass="team-cell {{ (teamInfo$ | async)?.id === team.teamId ? 'team-cell-highlight' : '' }}"-->
      {{ team.totalScore.toFixed(0) }} Points
    </div>

    <div *pblNgridCellDef="'team.Overview'; value as team">
      <div class="sla">
        <div class="div1">
          <i class="fas fa-meteor"></i>
        </div>
        <div class="div2">
          {{ team.attackScore.toFixed(0) }}
        </div>
        <div class="div3">
          ({{
            (team.attackScoreDelta > 0 ? "+" : "") +
              team.attackScoreDelta.toFixed(0)
          }})
        </div>
        <div class="div4">
          <i class="fas fa-shield-alt"></i>
        </div>
        <div class="div5">
          {{ team.defenseScore.toFixed(0) }}
        </div>
        <div class="div6">
          ({{
            (team.defenseScoreDelta > 0 ? "+" : "") +
              team.defenseScoreDelta.toFixed(0)
          }})
        </div>
        <div class="div7">
          <i class="fas fa-heartbeat"></i>
        </div>
        <div class="div8">
          {{ team.serviceLevelAgreementScore.toFixed(0) }}
        </div>
        <div class="div9">
          (+{{ team.serviceLevelAgreementScoreDelta.toFixed(0) }})
        </div>
      </div>
    </div>

    <div
      *pblNgridCellTypeDef="'service'; value as service; row as row; col as col"
      [ngridCellClass]="service.serviceStatus"
      (click)="openInfo(row, service, col.data)"
      [matTooltip]="
        ['MUMBLE', 'RECOVERING', 'OFFLINE'].includes(service.serviceStatus)
          ? 'Click for more information'
          : ''
      "
    >
      <div class="sla">
        <div class="div1">
          <i class="fas fa-meteor"></i>
        </div>
        <div class="div2">
          {{ service.attackScore.toFixed(0) }}
        </div>
        <div class="div3">
          ({{
            (service.attackScoreDelta > 0 ? "+" : "") +
              service.attackScoreDelta.toFixed(0)
          }})
        </div>
        <div class="div4">
          <i class="fas fa-shield-alt"></i>
        </div>
        <div class="div5">
          {{ service.defenseScore.toFixed(0) }}
        </div>
        <div class="div6">
          ({{
            (service.defenseScoreDelta > 0 ? "+" : "") +
              service.defenseScoreDelta.toFixed(0)
          }})
        </div>
        <div class="div7">
          <i class="fas fa-heartbeat"></i>
        </div>
        <div class="div8">
          {{ service.serviceLevelAgreementScore.toFixed(0) }}
        </div>
        <div class="div9">
          (+{{ service.serviceLevelAgreementScoreDelta.toFixed(0) }})
        </div>
      </div>
    </div>
  </pbl-ngrid>
</div>
